.dropdown {
    position: relative;
    width: auto;
    margin-right: 100px;
  }
  
  .selected {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1e1e2f;
    border: 1px solid #333;
    border-radius: 30px;
    padding: 10px;
    cursor: pointer;
    position: relative;
  }
  
  .selected img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  
  .placeholder {
    color: #ccc;
    font-size: 14px;
  }
  
  .options {
    position: absolute;
    top: 110%;
    right : -50;
    width: 200px;
    background-color: #1e1e2f;
    border: 1px solid #333;
    border-radius: 8px;
    z-index: 10;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  }
  
  .option {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .option:hover {
    background-color: #333;
  }
  
  .optionLogo {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    border-radius: 50%;
  }
  
  .optionName {
    color: #fff;
    font-size: 14px;
  }
  